<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sample Page</title>
</head>
<body>
<section>
	<form id="form" onsubmit="return false;">
		<fieldset>
			<label for="username">ID</label>
			<input type="text" id="username" name="username"><br>
			<label for="password">PASSWORD</label>
			<input type="password" id="password" name="password">
		</fieldset>
		<button id="login">Sign In</button>
		<button id="customer">Move to Customer Page</button>
	</form>
</section>

<script data-th-src="@{/webjars/jquery/jquery.min.js}" src="/webjars/jquery/jquery.min.js"></script>
<script data-th-src="@{/js/common/common.js}" src="/js/common/common.js"></script>
<script>
$(function(){
	"use strict";
	
	// Sign In 버튼 클릭 이벤트
	$("#login").click(function(){
		$.ajax({
			type: "post",
			url: "/api/login",
			data: JSON.stringify( $("#form").serializeObject() ),
			contentType: "application/json;charset=UTF-8",
			success: function(result, status, xhr) {
				const jwt = xhr.getResponseHeader("Authorization");
				console.log(jwt);
				sessionStorage.setItem("jwt", jwt);
			},
			error: function(xhr, status, err) {
				const msg = "인증에 실패하였습니다";
				if(xhr.responseJSON) {
					msg += ":" + xhr.responseJSON.errorMessage;
				}
				alert(msg);
			}
		});
	});
	
	$("#customer").click(function(){
		location.href = "/view/sample/customer?token=" + sessionStorage.getItem("jwt");
	});
});
</script>
</body>
</html>